[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
fastapi = "*"
httpx = "*"
pydantic-settings = "*"
pytest = "*"
pytest-asyncio = "*"
sqlmodel = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
